<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ABC Logistics Inc", "../Home/TrackParcel", "TrackParcel", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Track Parcel", "../Home/TrackParcel", new { title = "Track a Parcel" })</li>
                    @if (this.User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("Create Parcel", "../Admin/NewParcel", new { title = "Create a New Parcel" })</li>
                        
                        <li>@Html.ActionLink("Admin", "../Admin/Home", new { title = "Admin Functions" })</li>
                    }
                    else if (this.User.IsInRole("User") || this.User.IsInRole("Staff") || this.User.IsInRole("Remote Branch"))
                    {
                        <li>@Html.ActionLink("Create Parcel", "../Admin/NewParcel", new { title = "Create a New Parcel" })</li>
                        <li>@Html.ActionLink("Parcel Management", "../Home/DisplayParcels", "Admin", new { title = "Display All Parcels" })</li>
                    }
                    

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
