
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Admin Roles</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        
        <div class="form-group">
            <ul class="nav navbar-nav-">
                <li>@Html.ActionLink("User Management", "GetUsers", "Admin", new { title = "View Registered Users"})</li>
                <li>@Html.ActionLink("Branch Management", "GetBranches", "Admin", new { title = "View Registered Branches" })</li>
                <li>@Html.ActionLink("Role Management", "GetRoles", "Admin", new { title = "View All Available Roles" })</li>
                <li>@Html.ActionLink("Parcel Management", "../Home/DisplayParcels", "Admin", new { title = "Display All Parcels" })</li>
                <li>@Html.ActionLink("Assign User to Branch", "ManageUserBranch", "Admin", new { title = "Assign User to Branch" })</li>
                <li>@Html.ActionLink("Assign Roles to User", "ManageUserRoles", "Admin", new { title = "Assign Roles to User" })</li>
                <li>@Html.ActionLink("View a User Role", "GetRolesForUser", "Admin", new { title = "Get all Roles Assigned to a User" })</li>
            </ul>
        </div>
        <div class="form-group">
            
        </div>
    </div>
}



